{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <h1 class="display-1 text-center ">Django Project</h1>
    <section class="card card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste itaque nobis ratione voluptatibus doloremque minima cupiditate earum facere corrupti, inventore maiores officia dolorum nulla eos neque sunt harum aperiam nam corporis labore? Porro placeat molestiae magnam, nam atque eaque consequatur dolore. Vero aut cupiditate quis possimus itaque aspernatur ad eveniet quas, culpa corrupti quisquam quibusdam, repudiandae quaerat accusantium ipsa voluptatem quo magnam, repellat soluta. Nam tempore velit, aut, aspernatur facilis natus excepturi quae repudiandae illo perferendis necessitatibus adipisci. Mollitia corrupti odio molestias tenetur officiis reiciendis aliquid quos dolorem sequi! Alias nobis enim debitis! Iste obcaecati reprehenderit, accusamus labore ad suscipit.

    <div class="text-center">
        <a class="btn btn-dark" href='/signin/'> Signin </a>
        <a class="btn btn-dark" href='/signup/'> Signup </a>
    </div>

    </section>
</main>

{% endblock %}