{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <h1>{{ task.title }}</h1>
            {{ error }}

            <div class="d-flex justify-content-between">
                <form method="POST" class="d-inline-block">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">
                        update
                    </button>
                    <button formaction="{% url 'complete_task' task.id %}" type="submit" class="btn btn-secondary">
                        complete
                    </button>
                    <button formaction="{% url 'delete_task' task.id %}" type="submit" class="btn btn-danger">
                        delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}

